body {
    background-image: url(images/1.jpg);
}
header{
    position: relative;
    color: rgb(35, 33, 33);
    font-size: 20px;
    width: 800px;
    height: 150px;
    border: 3px solid;
    border-radius: 10px;
    text-align: center;
    padding: 1%;
}

footer{
    border: 100px;
    background-color: black;
}
a {
    color: rgb(4, 20, 243);
}

#different_color {
    color: #f2926f;
}

#different_color_2 {
    color:  #f26f94;
}

.author {
    color: aliceblue;
}